body {
  padding-top: 56px;
  font-family: Arial, Helvetica, sans-serif;
}

.section {
  margin-top: 60px;
}

h2 {
  margin-bottom: 20px;
  font-weight: bold;
}

.card {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.progress {
  height: 25px;
}

.progress-bar {
  font-weight: bold;
}
